// remove comments after editing
{
    // keeaplive virtual router id of this machine
    "this_router_id": 1,
    "iproute2_bin": "/bin/ip",
    "url_floating": "https://robot-ws.your-server.de/failover/{}",
    // this is used with ipv6 fallback subnets, this has to be the same for all machines
    "ipv6_suffix": "2",
    "floating_ips": [
      { "router": 1, "ip": "1.1.1.1" },
      { "router": 1, "ip": "1:1:1:1::" },
      { "router": 2, "ip": "2.2.2.2" },
      { "router": 2, "ip": "2:2:2:2::" }
    ],
    "interface": "enpXYZ",
    "robot_auth": "(can be used alternativly to robot_auths, but is risky security-wise)",
    // you can set a robot auth per server
    "robot_auths": {
      "1": "#123+abc:111",
      "2": "#321+cba:222"
    },
    // you can enable this if you don't want to switch failover ips and instead have a robot vlan
    // NOTE: set interface to enpXYZ.vlan (or whatever the vlan is named) for this to work
    // robot_auth(s) are no longer required with this option set to true
    "use_vlan_ips": false
}
