{
  "listen": "10.42.0.254:9090",
  "servers": {
    "1": {
      "failover": {
        "v4": "42.0.0.1",
        "v6": "42:1::"
      },
      "main": {
        "v4": "10.42.0.1",
        "v6": "fe42:1::"
      },
      "token": "1234"
    },
    "2": {
      "failover": {
        "v4": "42.0.0.2",
        "v6": "42:2::"
      },
      "main": {
        "v4": "10.42.0.2",
        "v6": "fe42:2::"
      },
      "token": "1234"
    }
  }
}
