{
  "servers": {
    "1": {
        "token": "1234",
        "main": {
           "v4": "10.12.10.1",
           "v6": "1012:10::1"
        },
        "failover": {
           "v4": "10.12.0.1",
           "v6": "1012:0::1"
        }
    },
    "2": {
        "token": "1234",
        "main": {
           "v4": "10.12.10.2",
           "v6": "1012:10::2"
        },
        "failover": {
           "v4": "10.12.0.2",
           "v6": "1012:0::2"
        }
    }
  },
  "listen": "0.0.0.0:1334"
}
